# Ignorer les fichiers Node.js inutiles
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorer les fichiers de tests
*.spec.ts
*.test.ts
coverage

# Ignorer les fichiers de configuration locaux
.env
.env.local
.env.*.local

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers Git
.git
.gitignore

# Ignorer les fichiers de logs
logs
*.log
*.gz

# Ignorer les artefacts de build
dist
build

# Ignorer les fichiers Docker locaux
docker-compose.override.yml
